[MASTER]
jobs=2
ignore-paths=(?!(vobject|tests))/*

[FORMAT]
max-line-length = 130

[REFACTORING]
max-args=8
max-attributes = 9
max-branches = 20
max-locals = 20
max-positional-arguments = 8

[MESSAGES CONTROL]
disable=
    I,
    import-error,
    fixme,
    missing-docstring,
    duplicate-code,
    keyword-arg-before-vararg,
    logging-fstring-interpolation,
