[MASTER]
jobs=2
ignore-paths=(?!(vobjectx|tests))/*

[FORMAT]
max-line-length = 130

[REFACTORING]
max-args=7

[MESSAGES CONTROL]
disable=
    I,
    import-error,
    fixme,
    missing-docstring,
    duplicate-code,
    keyword-arg-before-vararg,
    logging-fstring-interpolation,
